<h1>Theater Show Booking</h1>
<p>
  Insert Show Key:
  <br />
  <input type="text" maxlength="8" placeholder="********" #tempKey />
  <button (click)="updateKey(tempKey.value); tempKey.value = ''">
    Confirm
  </button>
</p>
<div id="errorDiv"></div>
<p>
  Want to make a show?
  <button [disabled]="clickedCreate" (click)="createKey()">
    Create a new Key!
  </button>
</p>
<div id="newKey"></div>

<app-reservation-name
  [insertedKey]="insertedKey"
  (insertedNameEmitter)="insertedName = $event"
>
</app-reservation-name>
<app-reservation
  [insertedKey]="insertedKey"
  [insertedName]="insertedName"
  [parterre]="parterre"
  [loges]="loges"
>
</app-reservation>
