<p>
  <label *ngIf="insertedKey !== undefined">
    Fast Booking Mode
    <input #toggle type="checkbox" (click)="toggleFbm(toggle.checked)"
  /></label>
</p>

<div *ngIf="insertedName !== undefined">
  <p>
    <strong>{{ insertedName }}</strong> select the seat you would like to
    reserve:
  </p>
  <div>
    <strong>
      {{ notification }}
    </strong>
    <button
      *ngIf="tempSeat !== undefined && tempSeat.istaken === false"
      (click)="confirmSeat()"
    >
      Confirm
    </button>
  </div>
  <h2>Parterre</h2>
  <div *ngFor="let row of parterre; let c1 = index">
    <button
      *ngFor="let seat of row; let c2 = index"
      (click)="pickSeat(c1, c2, 'p', seat != 'x')"
      style="background-color:{{
        seat !== 'x' ? 'rgb(255, 112, 77)' : 'rgb(153, 255, 153)'
      }}"
    >
      {{ c1 + 1 }} {{ c2 + 1 }}
    </button>
  </div>

  <h2>Loges</h2>
  <div *ngFor="let row of loges; let c1 = index">
    <button
      *ngFor="let seat of row; let c2 = index"
      (click)="pickSeat(c1, c2, 'l', seat != 'x')"
      style="background-color:{{
        seat !== 'x' ? 'rgb(255, 112, 77)' : 'rgb(153, 255, 153)'
      }}"
    >
      {{ c1 + 1 }} {{ c2 + 1 }}
    </button>
  </div>
</div>
