<div *ngIf="insertedName !== undefined">
  <p>{{ insertedName }} pick ur seat:</p>

  <h3>Parterre</h3>
  <div *ngFor="let row of parterre; let c1 = index">
    <button
      *ngFor="let seat of row; let c2 = index"
      (click)="pickSeat(c1, c2, 'p', seat != 'x')"
    >
      {{ c1 + 1 }} {{ c2 + 1 }}
    </button>
  </div>

  <h3>Loges</h3>
  <div *ngFor="let row of loges; let c1 = index">
    <button
      *ngFor="let seat of row; let c2 = index"
      (click)="pickSeat(c1, c2, 'l', seat != 'x')"
    >
      {{ c1 + 1 }} {{ c2 + 1 }}
    </button>
  </div>
</div>
